<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="{{ site.url }}/index.html">公众号内容</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/tags.html">标签列表</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/projects.html">PatternAcademy</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/feed.xml">Feeds</a>
    </div>
    <div class="navigatebar-button navigatebar-about">
        <a href="{{ site.url }}/about.html">About</a>
    </div>
</div>
